@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);
body {
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  text-transform: lowercase;
  margin: 0;
  padding: 0;
}

#header {
  background-color: #3F51B5;
  color: #FFF;
  padding: 10px;
}

h1 {
  margin: 0;
}

#repos {
  margin-top: 40px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

#repos > * {
  padding: 10px;
  -webkit-flex: 3 30%;
  flex: 3 30%;
}

#repos > repo:first-child
{
  flex: 0 1 100%;
}

a {
 font-weight: bold;
 text-decoration: none;
}

#repos a {
  color: #FF4081;
}

#repos a:hover {
  color: #F50057;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  display: inline-block;
}

li a {
  color: #fff;
  padding: 5px 10px;
  background: #FF4081;
}
